<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
</head>  
<body>  
<form method="POST" class="post-form" action="/update/{{note.id}}" >  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Note Id:</label>  
    <div class="col-sm-4">  
        <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{ note.id }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Note Title</label>  
    <div class="col-sm-4">  
        <input type="text" name="ename" id="id_ename" required maxlength="100" value="{{ note.title }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Note Text:</label>  x
    <div class="col-sm-4">  
        <input type="text" name="eemail" id="id_eemail" required maxlength="254" value="{{ note.text }}" />  
    </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Note Tag:</label>  x
    <div class="col-sm-4">  
        <input type="text" name="eemail" id="id_eemail" required maxlength="254" value="{{ note.tag }}" />  
    </div>  

    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
<span> Date : {{note.date}} </span>
</body>  
</html>  